@charset "UTF-8";

@import "common/base.css";

/* Common */
/*-----------------------------------------*/

#all {
	width:900px;
	margin:0 auto;
	padding-top:30px;
}
h1 {
	font-size:30px;
	text-align:center;
}
h2 {
  font-size: 18px;
  font-weight: bold;
}
p {
  font-size:14px;
  margin-bottom: 20px;
}